.full-width {
  width: 100%;
  margin: 0 auto;
  min-width: 1200px;
}

h3 {
  padding: 5px 0px 10px 20px;
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 20px;
}

h4 {
  font-family: 'Lora', serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: lowercase;
}

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  padding: 0px;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

/***Header***/

header {
  height: 70px;
  background-color: #ef9a9a;
  border-bottom: solid 7px #ffcccb;
  box-shadow: 2px 2px 4px #595959;
  min-width: 1200px;
}

#title {
  float: left;
}

ul li {
  float: left;
  list-style: none;
  padding-right: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: lowercase;
  font-size: 20px;
}

.zoom {
  transition: transform .4s;
  width: 85px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2);
}

nav {
  float: right;
  padding: 5px 0px 10px 0px;
}

/***Services Header Section***/


.service-header {
  height: 545px;
  min-width: 1200px;
}

#service-wrapper {
  text-align: center;
  padding: 1px 20px 0px 120px;
  margin: 0 auto;
  min-width: 1200px;
}

#service-image {
  height: 500px;
  width: 500px;
  background-image: url(../img/services2.jpg);
  background-size: cover;
  float: left;
  clear: both;
  margin: 20px 0px 20px 0px;
  box-shadow: 5px 5px 7px #595959;
}

#service-heading {
  height: 470px;
  width: 400px;
  float: left;
  display: inline-block;
  margin: 40px 0px 20px 40px;
  text-align: left;
}

/***Service Details***/

.services {
  height: 550px;
  width: 100%;
  margin: 0 auto;
  float:left;
  background-color:  #ffcccb;
  min-width: 1200px;
}

.service-column {
  width: 30%;
  height: 400px;
  min-width: 30%;
  float: left;
  display: inline-block;
  margin: 10px 0px 0px 20px;
}

/***Contact Section***/

.contact {
  height: 700px;
  background-image: url(../img/contact2.jpg);
  background-size: cover;
  clear:both;
  min-width: 1200px;
}

#contact {
  text-align: center;
  padding: 1px 20px 20px 20px;
  margin: 0 auto;
}

.contact-boxes {
  padding: 0px 0px 0px 500px;
  text-align: center;
}

h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

/***Footer***/

footer {
  height: 70px;
  background-color: #ef9a9a;
  border-top: solid 7px #ffcccb;
  text-align: center;
  min-width: 1200px;
}

#copyright {
  text-align: center;
  padding: 0px 20px 0px 20px;
  margin: 0;
}
